*{
  box-sizing: border-box; 
  text-align: center; 

}
body{
    background-color: gray;
   margin-left: 100px;
   margin-right: 100px;
}
.container{
    color: white;
    margin: 20px;

}
.container div{
    padding: 15px;
    color: antiquewhite;
      display: inline-flex;
          flex-direction: row;
          letter-spacing: 1px;
          padding: 15px;
          overflow: auto;
          
}
.container div:hover{
  color: rgba(192, 179, 179, 0.377);
  height:auto;
  width:auto;
  background-color:aqua;

}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    
  }
  
  input[type=text]:focus {
    width: 100%;

  }